/* Global CSS */
body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Helper Classes */
.left {
    float: left;
}
.right {
    float: right;
}
.clear:after {
    content: "";
    clear: both;
    display: block;
}

.row {
    display: flex;
}

.w-100 {
    width: 100%;
}


/* #container {

} */

/* .container {

} */

/* Generic CSS */
#header {

}

#main-navigation {

}

#banner {

}

#footer {

}


/* Specific CSS */